<div class="row">
  <div class="col-md-8">
    <div class="surveys box">
      <%= render @surveys %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <%= link_to '创建问卷调查', new_survey_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>