.question-item {
  border: 1px dashed #ccc;
  padding: 20px;
  margin-bottom: 20px;
  
  > .row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    };
    
    label, input, select {
      font-weight: normal;
      font-size: 12px;
    }
    
    p.small {
//      background-color: red;
      padding-top:10px;
    }
  }
}

.answer-item {
  > .row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    };
    
    label, input, select {
      font-weight: normal;
      font-size: 12px;
    }
    
    p.small {
//      background-color: red;
      padding-top:10px;
    }
  }
}

.box {
  > .form-group {
    label, input, select, textarea {
      font-weight: normal;
      font-size: 12px;
    }
  }
}

.new-survey-btn {
  margin-top: 40px;
}